body {
  background-color: aquamarine;
}
h1.cica {
  text-align: center;
}
div#d1 {
  padding: 10px;
  margin: 10px;
  border: solid 1px gray;
  border-radius: 6px;
  box-shadow: 1px 1px 3px inset gray;
  background-color: bisque;
  text-align: center;
}